* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

textarea {
  outline: none;
  border: 2px solid blue;
}

textarea:focus {
  border: 2px solid lime;
}
