* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  width: 50px;
  margin: 10px;
  padding: 5px;
}

.green {
  color: white;
  background-color: green;
}

.red {
  color: white;
  background-color: red;
}

.yellow {
  color: black;
  background-color: yellow;
}

button:hover {
  background-color: #aaa;
}
